{{#if isAuthenticated}}
<div class="contact-form-button-wpr container">
  <div class="row">
    {{md-btn class="col s12"
      text="Add Contact"
      action="showContactPostForm"}}
  </div>
</div>
{{/if}}

{{#if isContactPostForm}}
{{#md-modal close='closeModal'  class="new-contact-modal"}}
    <div class="modal-content">
      <div class="container">
        <p class="card-title">Add a new way to contact you</p>
        <!--Contact type Select-->
        <div class="row">
          {{md-select content=contactTypes
            value=contactData.contactType
            prompt="Select contact type"
            optionLabelPath="content.type"
            optionValuePath="content.type" class="col s12"}}
        </div>
        <!--Contact Address input-->
        <div class="row">
          {{md-input value=contactData.contactPath label='Contact Path' class="col s12" validate=true}}
        </div>
        <!--Submit button-->
        <div class="row">
          {{md-btn class="col s12 submit-button"
            buttonType="flat"
            text="Save"
            action="post"}}
        </div>
      </div>
    </div>
{{/md-modal}}
{{/if}}
