// Fix for Roboto font path
$roboto-font-path: '../assets/';

@import 'components/color';

// Custom color settings go here
$primary-color: color("blue-grey", "darken-1"); //#546e7a
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
//$secondary-color: color("brown", "lighten-5"); //#bcaaa4
$secondary-color: color("teal", "lighten-4");
$background-color: color("teal", "lighten-3");

$button-color: color("cyan", "darken-3");

$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

@import 'components/variables';

// Materialize styles
@import "materialize";
@import 'ember-cli-materialize';

@import "colors";
@import "dimensions";
