
// THESE ARE CUSTOM COLORS DEPENDENT ON components/colors

// $background-color:
$background-color: color("teal", "lighten-5");

// $primary-color:
$primary-color: color("cyan", "darken-3");
$primary-color-light: lighten($primary-color, 5%);
$primary-color-dark: darken($primary-color, 5%);

//$secondary-color: color("brown", "lighten-5"); //#bcaaa4
$secondary-color: color("teal", "darken-1");

//$button-color
$button-color: lighten($primary-color, 5%);
$button-raised-background-hover: lighten($button-color, 5%) !default;
$button-cancel-color: color("grey", "lighten-1") !default;
$button-cancel-raised-background-hover: color("red", "darken-3") !default;

//Indication Colors
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

// Side Nav
$sidenav-font-color: $primary-color !default;
$sidenav-bg-color: white !default;
$sidenav-padding-right: 30px !default;
$sidenav-item-height: 64px !default;
