$margin-bottom: 3rem;

#main-nav-bar {
  margin-bottom: $margin-bottom;
}
.divider {
  margin-bottom: $margin-bottom;
}

.about-me-comp-wppr {
  margin-top: 15px;
}

footer.page-footer {
  margin-top: 20%;
}

.blog-card {
  margin-bottom: 50px;
}

// Small screens
@media screen and (max-width: 450px) {

}
.image-card-panel{
  background-color: $primary-color;
  margin: 0;
  border-radius: 0;
  padding-top: 45px;
  padding-bottom: 25px;
  text-align: center;
}
