$margin-bottom: 3rem;

#main-nav-bar {
  margin-bottom: $margin-bottom;
}
.divider {
  margin-bottom: $margin-bottom;
}

.about-me-comp-wppr {
  margin-top: 5px;
}
.edit-about-me-btn{
  width: 100%;
  margin: 0 auto;
}

footer.page-footer {
  margin-top: 20%;
}

.blog-card {
  margin-bottom: 50px;
}

.image-card-panel{
  background-color: $primary-color;
  margin: 0;
  border-radius: 0;
  padding-top: 45px;
  padding-bottom: 25px;
  text-align: center;
}

// Small screens
@media screen and (max-width: 450px) {

  img.profile-image {
    height: 200px;
  }

}

// Small screens
@media screen and (min-width: 450px) {

  img.profile-image {
    height: 250px;
  }

}
// large screens
@media screen and (min-width: 650px) {

  img.profile-image {
    height: 300px;
  }

}
