$margin-bottom: 3rem;


#main-nav-bar {
  margin-bottom: $margin-bottom;
}
.divider {
  margin-bottom: $margin-bottom;
}

.about-me-comp-wppr {
  margin-top: 5px;
}
.edit-about-me-btn{
  margin: 0 auto;
}

footer.page-footer {
  margin-top: 20%;
}

.solid-color-card{
  background-color: $primary-color;
  margin: 0;
  border-radius: 0;
  padding-top: 45px;
  padding-bottom: 25px;
  &.center-text{
    text-align: center;
  }
}
#contact-card-view{
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
}
a.contact-icons{
  margin-right: 25px;
  .contact-facebook{
    height: 50px;
  }
}
.fixed-action-btn{
  &.new-blog-post{
    bottom: 50px;
  }
  &.btn-floating{
    background-color: $primary-color;
  }
}

.contact-row{
  margin-bottom: 10px;
}
.log-out-button{
  background-color: $button-cancel-raised-background-hover;
  margin-top: 50px;
  &:hover,
  &:visited,
  &:active{
    background-color: $button-cancel-raised-background-hover;
  }
}
.modal-footer{
  margin: 0;
  padding: 0;
  background-color: $primary-color !important;
}
a.edit-modal-button{
  margin: 0;
  padding: 0;
  color: white;
}
i.submit-icon{
  font-size: 2em;
}

#add-new-contact-modal{
  height: 300px !important;
}
.new-contact-row{
  margin: 0;
  bottom: 0;
}
a.new-contact-button{
  margin-top: 60px;
  background-color: $primary-color;
  bottom: 0;
  color: white;
}

// Small screens
@media screen and (max-width: 650px) {

  img.profile-image {
    height: 250px;
  }
  .main-content-container{
    width: 95%;
  }
  #contact-card-view{
    width: 95%;
  }

}
// large screens
@media screen and (min-width: 651px) {

  img.profile-image {
    height: 300px;
  }


}
