#create-account-link {
  margin: 0 auto;
}
// #edit-about-me-modal {
//   color: bold;
// }

.about-me-text {
  font-size: 1.2rem;
}
.card-title {
  font-weight: 500;
}
.brand-logo {
  font-family: 'Pacifico';
}

.profile-caption {
  color: white;
  font-weight: 400 !important;
  font-family: 'Pacifico';
  &.card-title{
    margin-left: -15px;
    margin-bottom: -45px;
  }
}
.about-lynn-name {
  font-size: 75px;
}
