#create-account-link {
  margin: 0 auto;
}
.content-text{
  font-size: 1.2rem;
}
.contact-path{
  font-weight: bolder;
}
.about-me-title{
  color: $primary-color;
}
.about-me-comp-wppr{
  margin-top: 0;
}
.about-me-text {
  font-size: 1.2rem;
  white-space: pre-wrap;
}
.blog-date{
  margin-bottom: 5px;
}
.card-title {
  font-weight: 300;
  &.blog-title{
    color: $primary-color;
  }
}
p.blog-content{
  white-space: pre-wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}
.blog-card{
  padding-top: 25px;
}
.brand-logo {
  font-family: 'Pacifico';
}

.profile-caption {
  color: white;
  font-weight: 400 !important;
  font-family: 'Roboto';
  &.card-title{
    margin-left: -15px;
    margin-bottom: -45px;
  }
}
.about-lynn-name {
  font-size: 75px;
  font-family: 'Pacifico';
}
#site-map {
  text-align: center;
  text-decoration: none;
  color: white;
  & li {
    display: inline-block;
  }
  & a {
    color: inherit;
    text-decoration: inherit;
  }
}
#social-media{
  text-align: center;
  list-style-type: none;
  & li {
    display: inline-block;
  }
  & img {
    height: 50px;
    margin-left: 2px;
    margin-right: 2px;
  }
}
.contact-path{
  font-size: 16px;
}
.my-prefix-blog-intro{
  font-size: 45px;
  color: white;
  //make the "my" small
}
.blog-intro-title{
  font-family: 'Pacifico';
  color: white;
  font-size: 75px;
}
.contact-intro-header{
  font-family: 'Pacifico';
  color: white;
  font-size: 75px;
}
.contact-intro-suffix{
  font-size: 45px;
}
.nav-links-wrapper{
  text-transform: uppercase;
  font-weight: 400;
}
