#create-account-link {
  margin: 0 auto;
}
// #edit-about-me-modal {
//   color: bold;
// }
.about-me-title{
  color: $primary-color;
}
.about-me-comp-wppr{
  margin-top: 0;
}
.about-me-text {
  font-size: 1.2rem;
  white-space: pre-wrap;
}
.blog-date{
  margin-bottom: 5px;
}
.card-title {
  font-weight: 300;
  &.blog-title{
    color: $primary-color;
  }
}
p.blog-content{
  white-space: pre-wrap;
  padding-top: 25px;
  padding-bottom: 25px;
}
.blog-card{
  padding-top: 25px;
}
.brand-logo {
  font-family: 'Pacifico';
}

.profile-caption {
  color: white;
  font-weight: 400 !important;
  font-family: 'Pacifico';
  &.card-title{
    margin-left: -15px;
    margin-bottom: -45px;
  }
}
.about-lynn-name {
  font-size: 75px;
}
