<!-- Add the cards for what the admin sees when shes logged in and viewing /profile -->

<!--div row-->

{{#each profile as |profile|}}

{{!-- Picture Edit button here --}}

<!-- Displays about me text-->
<div class="row">
  <div class="col s12">
    {{profile.aboutMe}}
  </div>
</div>
<!-- Edit button-->
<div class="row">
  {{md-btn text="Edit"
    class="col s12 m6 offset-m3"
    action='editAboutModal'}}
</div>

<!-- Modal with input text box-->
{{#if aboutModalIsOpen}}
  {{profile-page/input-modal
    profile=profile
    aboutModalIsOpen=aboutModalIsOpen }}
{{/if}}

{{/each}}



<!--div row-->
