<!-- 1.Make modal area larger
     2.Make input field larger  -->

{{#md-modal close='closeModal' class="test-modal"}}
    <div class="modal-content">
      <p class="title" id="edit-about-me-modal">Edit your about me section</p>
      <!--Input field-->
      <div class="row">
        {{md-textarea label='About Me'
          value=profile.aboutMe
          class="col s12"}}
      </div>
    </div>

    <div class="modal-footer">
      <!--Wire up update/edit function here-->
        <!-- Update Button-->
        <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button" {{action 'agree'}}>Update!</a>
        <!-- Cancel Button-->
        <a class="modal-action modal-close waves-effect waves-red btn-flat cancel-button" {{action 'closeModal'}}>Cancel</a>
    </div>
{{/md-modal}}
