{{!-- <label for="password-confirmation">Password Confirmation</label>
{{input type="password"
        id="password-confirmation"
        placeholder="Password Confirmation"
        value=password}} --}}

{{md-input
  value=password
  label='Password Confirmation'
  class="col s12 m10 offset-m1"}}
