<!-- 1.Make modal area larger
     2.Make input field larger  -->

{{#md-modal close='closeModal' isFooterFixed=true class="about-me-modal"}}
    <div class="modal-content">
      <h4 class="card-title center-align">Edit your about me section</h4>
      <!--Input field-->
      <div class="row">
        <div class="input-field">
          {{md-textarea label='About Me'
            value=profile.aboutMe
            class="col s12 about-me-textarea"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="modal-footer">
        <!--Wire up update/edit function here-->
          <a class="edit-modal-button btn-flat col s12 center-align" {{action 'update' profile}}>
              <i class="submit-icon material-icons">done</i>
          </a>
      </div>
    </div>
{{/md-modal}}
