
<p>Enter the type of contact (i.e Facebook, Email etc):</p>

<div class="row">
  {{md-input value=contactType
             label='Contact Type'
             class="col s12 m8"
             validate=true}}

  {{md-btn text="Next"
           action="showContactPathInput"
           class="s12 m4"}}
</div>
