
<!-- Collection of contacts-->
{{#md-card title="" id=""}}
    {{#md-card-panel class="solid-color-card"}}
      <h5 class="white-text center-align contact-intro-header">Contact <span class="contact-intro-suffix">Info</span></h5>
    {{/md-card-panel}}
    {{#md-card-content}}
    {{#if contacts}}
      <ul>
        {{!-- To Do: If there are no contacts, display prompt for user to add contact(see component)--}}
      {{#each contacts as |contact|}}
        {{contact-page/visitor-view contact=contact}}
      {{/each}}
      </ul>
      {{else}}
      <div class="no-contact-info-display">
        <p class="valign center-align">There are no contact information posted yet.</p>
      </div>
      {{/if}}
    {{/md-card-content}}
{{/md-card}}

<!-- Add new contact button one per collection -->
{{!-- To Do: center this add button --}}
{{!-- {{#if isAuthenticated}}
  {{contact-page/admin-tools/new-button}}
{{/if}} --}}
