
<!-- Collection of contacts-->
{{#md-card title="" id=""}}
    {{#md-card-panel class="solid-color-card"}}
      <h4 class="white-text">Contact Information</h4>
    {{/md-card-panel}}
    {{#md-card-content}}
      <ul>
        {{!-- To Do: If there are no contacts, display prompt for user to add contact(see component)--}}
      {{#each contacts as |contact|}}
        {{contact-page/visitor-view contact=contact}}
      {{/each}}
      </ul>
    {{/md-card-content}}
{{/md-card}}

<!-- Add new contact button one per collection -->
{{!-- To Do: center this add button --}}
{{!-- {{#if isAuthenticated}}
  {{contact-page/admin-tools/new-button}}
{{/if}} --}}
