{{#if isAuthenticated}}
<div class="right-align">
  <button class="btn waves-effect" {{action "showAboutModal"}} type="submit" name="action">Edit
    <i class="edit-profile-icon material-icons right">edit_mode</i>
    {{tooltip-on-element class="tool-tipped-dialogue" side="top" text="Edit your about-me"}}
  </button>
</div>
{{/if}}

{{#if aboutModalIsOpen}}
  {{profile-actions/edit-about-me
    aboutModalIsOpen=aboutModalIsOpen
    editAboutMe=editAboutMe
    profile=profile
    }}
{{/if}}
