{{#each sortedBlog as |blog|}}

{{moment-format blog.createdAt 'MM/DD/YYYY'}}
{{#md-card title=blog.title class="blog-card"}}
    {{#md-card-content}}

        <p class=" left-align flow-text">{{blog.content}}</p>
    {{/md-card-content}}

    {{#md-card-action class="blog-card-action"}}
      {{blog-actions/admin-tools
        editBlog=editBlog
        deleteBlog=deleteBlog
        blog=blog}}
    {{/md-card-action}}
{{/md-card}}
{{/each}}
