{{#md-card-panel class="teal"
    bodyClass="white-text"
    id="card-panel"}}
    <div class="flow-text center-align">
      <h1>About</h1>
      <h3>Lynnelle</h3>
    </div>

    <div class="row">
      {{#each model as |profile|}}
      <div class="col s6">
        {{#md-card-panel class="white flow-text"
            bodyClass="black-text"
            id="profilePic"}}
          <h2>Picture</h2>
        {{/md-card-panel}}
      </div>
      <div class="col s6">
        {{profile.aboutMe}}
      </div>
      {{/each}}
    </div>
{{/md-card-panel}}
