{{!-- <label for="email">Email</label> --}}
{{!-- {{input type="email"
        id="email"
        placeholder="Email"
        value=email}} --}}
{{md-input
  value=email
  label='Email'
  class="col s12 m10 offset-m1"
  validate=true }}
