<div class="blog-form-button-wpr container">
  <div class="row">
    {{md-btn class="col s12"
      text="New Post"
      action="showBlogPostForm"}}
  </div>
</div>


{{#if isNewBlogFormOpen}}
{{#md-modal close='closeModal' isFooterFixed=true class="new-blog-modal"}}
    <div class="modal-content">
      <p class="title">Add new blog post</p>
      <div class="row">
        <div class="row">
          {{md-input value=blogData.title label='Title' class="col s12 form-group" errors=errors.title}}
        </div>
      </div>
      <div class="row">
        {{md-textarea label='Blog post'
          value=blogData.content
          class="col s12"}}
      </div>
    </div>

    <div class="modal-footer row">
      <!--Wire up update/edit function here-->
        <a class="modal-action modal-close waves-effect waves-orange btn-flat agree-button col s12 center-align" {{action 'post'}}>
            Post!
        </a>
    </div>
{{/md-modal}}
{{/if}}
