{{#if isAuthenticated}}
<div class="fixed-action-btn new-blog-post">
    <a class="btn-floating btn-large new-post-btn" {{action "showBlogPostForm"}}>
      <i class="material-icons">add</i>
    </a>
  </div>
{{/if}}


{{#if isNewBlogFormOpen}}
{{#md-modal close='closeModal' isFooterFixed=true class="new-blog-modal"}}
    <div class="modal-content">
      <h4 class="card-title center-align">New Blog Post</h4>
      <div class="row">
      {{md-input value=blogData.title label='Title' class="col s12 form-group" errors=errors.title}}
      </div>
      <div class="row">
        {{md-textarea label='Blog post'
          value=blogData.content
          class="col s12"}}
      </div>
    </div>

    <div class="row">
      <div class="modal-footer">
        <!--Wire up update/edit function here-->
          <a class="edit-modal-button btn-flat col s12 center-align" {{action 'post'}}>
              <i class="submit-icon material-icons">backup</i>
          </a>
      </div>
    </div>
{{/md-modal}}
{{/if}}
