<!-- Visitor view for About me -->

{{#each profile as |profile|}}

<div class="container">
  <span class="about-me-text">{{profile.aboutMe}}</span>
</div>

<!-- Picture card.

<div class="col m6">
  {{#md-card-panel
      class="white flow-text
             hide-on-small-only"
      bodyClass="black-text"
      id="profilePic"}}
    <h2>Picture</h2>
  {{/md-card-panel}}
</div>

//picture card -->

{{/each}}
