<!-- Visitor view for About me -->
{{#each profile as |profile|}}

<div class="about-me-comp-wppr">
  <span class="about-me-text">{{profile.aboutMe}}</span>
</div>

{{#if isAuthenticated}}
  {{profile-page/admin-tools
    profile=profile }}
{{/if}}

{{/each}}
