{{!-- <label for="kind">Password</label> --}}
{{!-- {{input type="password"
        id="password"
        placeholder="Password"
        value=password}} --}}
{{md-input
  type="password"
  value=password
  label='Password'
  class="col s12 m10 offset-m1"}}
