<div class="s2 right-align">
  <a href="#">
    {{tooltip-on-element side="left" text="Delete Contact"}}
    <i class="delete-icon material-icons" {{action "delete" contact}}>delete</i>
  </a>
</div>
