<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">navigation</i>
    </a>
    <ul>
      <!-- Settings link-->
      <li>
        <a href="/settings" class="btn-floating red">
          <i class="material-icons tooltipped" data-position="left" data-delay="10" data-tooltip="Settings">settings</i>
        </a>
      </li>
      <!-- About me link-->
      <li>
        <a href="/about-me" class="btn-floating red">
          <i class="material-icons">person_pin</i>
        </a>
      </li>
      <!-- Blogs link-->
      <li>
        <a href="/my-blog" class="btn-floating red">
          <i class="material-icons">library_books</i>
        </a>
      </li>
      <!-- Contact link-->
      <li>
        <a href="/contact-me" class="btn-floating red">
          <i class="material-icons">contacts</i>
        </a>
      </li>

      {{!-- <li>
        {{#link-to "settings-page" class="material-icons"}}
        insert_chart
        {{/link-to}}
      </li> --}}

    </ul>
  </div>
