<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large red">
      <i class="material-icons">navigation</i>
    </a>
    <ul>
      <!-- Settings link-->
      <li>
        {{#link-to "settings-page" class="btn-floating"}}
          {{tooltip-on-element side="left" text='Settings'}}
          <i class="material-icons">settings</i>
        {{/link-to}}
      </li>
      <!-- About me link-->
      <li>
        {{#link-to "profile" class="btn-floating"}}
          {{tooltip-on-element side="left" text='About Me'}}
          <i class="material-icons">person_pin</i>
        {{/link-to}}
      </li>
      <!-- Blogs link-->
      <li>
        {{#link-to "blogs" class="btn-floating"}}
          {{tooltip-on-element side="left" text='Blogs'}}
          <i class="material-icons">library_books</i>
        {{/link-to}}
      </li>
      <!-- Contact link-->
      <li>
        {{#link-to "contacts" class="btn-floating"}}
          {{tooltip-on-element side="left" text='Contacts'}}
          <i class="material-icons">contacts</i>
        {{/link-to}}
      </li>

      {{!-- <li>
        {{#link-to "settings-page" class="material-icons"}}
        insert_chart
        {{/link-to}}
      </li> --}}

    </ul>
  </div>
