{{#md-card-panel class="center-align"
    bodyClass=""
    id="card-panel"}}
        You can edit your page settings here
{{/md-card-panel}}

<div class="row">
    {{lynn-site/settings-view profile=profile contacts=contacts updateBasicInfo="changeBasicInfo" changePw="changePassword" logOut="signOut"}}
</div>
