{{#md-card-panel class="row contact-panels"
  bodyClass="white-text"
  id=""}}
    <div class="col s3 m3">
      {{contact.contactType}}
    </div>
    <div class="col s9 m5">
      {{contact.contactPath}}
    </div>
    <div class="col s6 m2">
      Delete
    </div>
    <div class="col s6 m2">
      Update
    </div>

{{/md-card-panel}}
