<div class="row">
  <div class="container">
    <a target="_blank" href="http://www.facebook.com/lynelle.bennett" class="contact-icons valign-wrapper">
      <img src="http://www.icons101.com/icon_ico/id_78875/facebook.ico" alt="" class="contact-facebook">
      <span class="contact-path valign">{{contact.contactPath}}</span>
    </a>
  </div>
</div>
