{{#md-card-panel class="row contact-panels"
  bodyClass="white-text"}}
    <div class="col s3 m3">
      {{contact.contactType}}
    </div>
    <div class="col s9 m5">
      {{contact.contactPath}}
    </div>
    {{#if isAuthenticated}}
    {{contact-page/admin-tools/delete-button      contact=contact}}
    {{/if}}

{{/md-card-panel}}
