
<p>Review and confirm:</p>

<div class="row">
  <div class="col s12 m10">
    <p>Contact Type: <span class="">{{contactData.contactType}}</span></p>
    <p>Contact Path: <span class="">{{contactData.contactPath}}</span></p>
  </div>

  <div class="modal-footer">
    {{md-btn text="Save"
             action="submit"
             class="col s12"}}
  </div>
</div>
