<!-- Card that contains about me info in Profile view -->

{{#md-card title="About Me"
    titleClass="orange-text"
    id="image-card"}}
    {{#md-card-panel class="image-card-panel"}}
    <picture>
      {{!-- <source
      media="(min-width: 550px)"
      srcset="http://st.depositphotos.com/2868925/3523/v/950/depositphotos_35236485-stock-illustration-vector-profile-icon.jpg"> --}}
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR4839pGsw3-XL16-Vgu93sOyR2nCoBgIgbbAtnYEkXoIAe-82Cbe0o3A" alt="lynelle profile picture" class="profile-image responsive-img circle">
    </picture>
    <p class="profile-caption card-title"> Get to know</p>
    <p><span class="profile-caption about-lynn-name">Lynnelle</span></p>

    {{/md-card-panel}}


    <!-- Card contents -->
    {{#md-card-content class="row center-align" }}
      <div class="about-me-comp-wppr container">
        <span class="about-me-text">
          {{profile.aboutMe}}
        </span>
      </div>
    {{/md-card-content}}
    <!-- Actions-->
    {{#md-card-action}}
      {{profile-actions/admin-tools
          class="container"
          profile=profile
          editAboutMe=editAboutMe}}
    {{/md-card-action}}

{{/md-card}}
