<!-- Card that contains about me info in Profile view -->

{{#md-card title="A little about myself..."
    titleClass="orange-text"
    id="image-card"}}
    {{#md-card-content class="image-card-panel"}}
    <div class="row">
      <div class="col s12">
        <img src="" alt="">
      </div>
    </div>
    {{/md-card-content}}
    <!-- Card contents -->
    {{#md-card-content class="row center-align" }}
      <div class="about-me-comp-wppr">
        <span class="about-me-text">
          {{profile.aboutMe}}
        </span>
      </div>
    {{/md-card-content}}
    <!-- Actions-->
    {{#md-card-action}}
      {{profile-actions/admin-tools
          class="container"
          profile=profile
          editAboutMe=editAboutMe}}
    {{/md-card-action}}

{{/md-card}}
