<!-- Card that contains about me info in Profile view -->

{{#md-card title="A little about myself..."
    titleClass="orange-text"
    image="https://static.pexels.com/photos/10651/photo-1432821596592-e2c18b78144f.jpeg"
    id="image-card"}}

    <!-- Card contents -->
    {{#md-card-content class="row center-align" }}
      <div class="about-me-comp-wppr">
        <span class="about-me-text">
          <pre>{{profile.aboutMe}}</pre>
        </span>
      </div>
    {{/md-card-content}}
    <!-- Actions-->
    {{#md-card-action}}
      {{profile-actions/admin-tools
          class="container"
          profile=profile
          editAboutMe=editAboutMe}}
    {{/md-card-action}}

{{/md-card}}
