<!-- Card that contains about me info in Profile view -->

{{#md-card title="About Me"
    titleClass="about-me-title"
    id="image-card"}}
    {{#md-card-panel class="solid-color-card center-text"}}
    <picture>
      <source
      media="(min-width: 650px)"
      srcset="https://scontent.fbed1-2.fna.fbcdn.net/v/t31.0-8/13913709_10153867063496134_6684723706125159214_o.jpg?oh=a574e2dac392b4f9e74804a9524ee1b8&oe=593E8CB1">
      <img src="https://scontent.fbed1-2.fna.fbcdn.net/v/t31.0-8/13442478_10153744034926134_5483498452831244377_o.jpg?oh=20b15f8ba677bf105f5620f00c16438e&oe=596C22E5" alt="lynelle profile picture" class="profile-image responsive-img circle">
    </picture>
    <p class="profile-caption card-title"> Get to know</p>
    <p><span class="profile-caption about-lynn-name">Lynnelle</span></p>
    {{/md-card-panel}}


    <!-- Card contents -->
    {{#md-card-content class="row center-align" }}
      <div class="about-me-comp-wppr container">
        <p class="about-me-text">
          {{profile.aboutMe}}
        </p>
      </div>
    {{/md-card-content}}
    <!-- Actions-->
    {{#md-card-action}}
    <div class="container">
      {{profile-actions/admin-tools
          profile=profile
          editAboutMe=editAboutMe}}
    </div>

    {{/md-card-action}}

{{/md-card}}
